
/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    
    


    withName: PLINK2_QC_PRUNE_HET {
        publishDir = [
            path: { "${params.outdir}/1_PLINK2_QC_PRUNE_HET" },
            mode: params.publish_dir_mode
        ]
    }
    withName: R_PRS_QC{
        publishDir = [
            path: { "${params.outdir}/2_R_PRS_QC" },
            mode: params.publish_dir_mode
        ]
    }
    withName: PLINK_PRODUCE_QC_DATASET{
        publishDir = [
            path: { "${params.outdir}/3_PLINK_PRODUCE_QC_DATASET" },
            mode: params.publish_dir_mode
        ]
    }
    withName: bash_base_GWAS_QC{
        publishDir = [
            path: { "${params.outdir}/0_bash_base_GWAS_QC" },
            mode: params.publish_dir_mode
        ]
    }
    withName: R_prepare_lists_for_clump {
        publishDir = [
            path: { "${params.outdir}/4_R_prepare_lists_for_clump" },
            mode: params.publish_dir_mode
        ]
    }
    withName: PLINK_clump {
        publishDir = [
            path: { "${params.outdir}/5_PLINK_clump" },
            mode: params.publish_dir_mode
        ]
    }

    withName: R_split_lists{
        publishDir = [
            path: { "${params.outdir}/6_splitlists" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PRSice_calculate_PRS_split_partitions{
        publishDir = [
            path: { "${params.outdir}/7_PRS_partitioned" },
            mode: params.publish_dir_mode
        ]
    }
    withName: R_final_plot{
        publishDir = [
            path: { "${params.outdir}/8_figures" },
            mode: params.publish_dir_mode
        ]
    }
}
